{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/pictures/peculab-logo.jpg' %}">
    <link rel="stylesheet" href="{% static '/css/reset_password.css' %}">
    <title>Pattern Hunter | Reset Password</title>
</head>
<body>
    <!-- Background Setting -->
    <div id="reset-password-background">
        <div class="reset-password-background-cover"></div>
        <img src="{% static '/pictures/login_background.png' %}" alt="">
    </div>
    <div id="reset-password-layout">
        <!-- Left Area --> 
        <div id="reset-password-left">
            <!-- Display Logo -->
            <img src="{% static '/pictures/pattern_hunter_logo.png' %}" alt="">
        </div>

        <!-- Right Area -->
        <div id="reset-password-right">
            <!-- Register Form -->
            <div id="reset-password-right-form">
                <form name='reset-password-form'>
                    <label class="reset-password-right-form-label" for="email">請輸入您的電子郵件</label>
                    <input type="email" id="reset-password-form-email" name="email" placeholder="輸入電子郵件">
                    <div id="reset-password-form-submit">
                        <button type="submit" id="reset-password-submit" value="SUBMIT">重置密碼</button>
                    </div>
                    <div class="reset-password-right-form-options">
                        <a href="/register">註冊帳號</a>
                        <a href="/resetPassword">忘記密碼?</a>
                    </div>
                </form>
                <script src="{% static '/js/reset_password.js' %}" type="text/javascript"></script>
            </div>
        </div>
    </div>
</body>
</html>